repos:
- repo: https://github.com/astral-sh/ruff-pre-commit
  rev: v0.6.8
  hooks:
  - id: ruff
    # These files are codegen'd and non-compliant :'(
    exclude: |
      (?x)(
          ^apiv2/.*|
          ^schema/.*/metadata_models.py|
          ^schema/.*/ingestion_config_models.py|
          ^schema/.*/metadata_files.py
      )
    args:
    - --fix
    - --config
    - ingestion_tools/pyproject.toml
- repo: https://github.com/astral-sh/ruff-pre-commit
  rev: v0.6.8
  hooks:
  - id: ruff
    args:
    - --fix
    - --config
    - apiv2/pyproject.toml
    files: '^apiv2/.*'
- repo: https://github.com/mpalmer/action-validator
  # requires installing `npm install -g @action-validator/core @action-validator/cli --save-dev`
  rev: v0.6.0
  hooks:
    - id: action-validator
- repo: https://github.com/pre-commit/pre-commit-hooks
  rev: v4.6.0
  hooks:
  - id: check-toml
  - id: check-yaml
    exclude: ingestion_tools/dataset_configs/template.yaml
  - id: check-json
    exclude: "launch.json"
  - id: check-merge-conflict
  - id: end-of-file-fixer
    exclude: |
      (?x)(
          ^.release-please-manifest.json|
          ^release-please-config.json
      )
  - id: trailing-whitespace
- repo: local
  hooks:
  - id: dataset-config-validation
    name: dataset-config-validation
    entry: bash -c "cd schema/ && make validate-configs"
    language: system
    files: '^(ingestion_tools/dataset_configs/|schema/.*\.(py|yaml|json|Makefile))'
- repo: https://github.com/pre-commit/mirrors-prettier
  rev: v4.0.0-alpha.8
  hooks:
  - id: prettier
    args: [--write, --config, .prettierrc.yaml]
    additional_dependencies:
    - prettier@3.6.2
    - prettier-plugin-toml@2.0.5
    files: '^ingestion_tools/dataset_configs/.*'
    exclude: "template.yaml"
