repos:
- repo: https://github.com/astral-sh/ruff-pre-commit
  rev: v0.6.2
  hooks:
  - id: ruff
    # These files are codegen'd and non-compliant :'(
    exclude: |
      (?x)(
          ^schema/.*/metadata_models.py|
          ^schema/.*/ingestion_config_models.py
      )
    args:
    - --fix
    - --config
    - ingestion_tools/pyproject.toml
- repo: https://github.com/mpalmer/action-validator
  rev: v0.6.0
  hooks:
    - id: action-validator
- repo: https://github.com/pre-commit/pre-commit-hooks
  rev: v4.6.0
  hooks:
  - id: check-toml
  - id: check-yaml
    exclude: ingestion_tools/dataset_configs/template.yaml
  - id: check-json
    exclude: "launch.json"
  - id: check-merge-conflict
  - id: end-of-file-fixer
  - id: trailing-whitespace
- repo: local
  hooks:
  - id: dataset-config-validation
    name: dataset-config-validation
    entry: bash -c "cd schema/ && make validate-configs"
    language: system
    files: '^(ingestion_tools/dataset_configs/|schema/.*\.(py|yaml|json|Makefile))'
