exclude: ^schema/
repos:
- repo: https://github.com/psf/black-pre-commit-mirror
  rev: 24.4.0
  hooks:
  - id: black
    args:
    - --config
    - ingestion_tools/pyproject.toml
- repo: https://github.com/astral-sh/ruff-pre-commit
  rev: v0.4.1
  hooks:
  - id: ruff
    args:
    - --fix
    - --config
    - ingestion_tools/pyproject.toml
      #- repo: https://github.com/pre-commit/mirrors-mypy
      #  rev: "v1.4.1"
      #  hooks:
      #  - id: mypy
      #    exclude: "packages/frontend"
      #    # entry: mypy --config-file ingestion_tools/pyproject.toml
      #    args: ["--config-file", "ingestion_tools/pyproject.toml"]
      #    # args: [--config-file=./packages/backend/pyproject.toml]
      #    # entry: mypy --config-file packages/backend/pyproject.toml
      #    # entry: bash -c 'cd packages/backend && mypy --config-file pyproject.toml .'
      #    additional_dependencies:
      #      [
      #        pydantic,
      #        pydantic-settings,
      #        click,
      #      ]
- repo: https://github.com/pre-commit/pre-commit-hooks
  rev: v4.5.0
  hooks:
  - id: check-toml
  - id: check-yaml
  - id: check-json
  - id: check-merge-conflict
  - id: end-of-file-fixer
  - id: trailing-whitespace
