services:
  ingestor:
    platform: linux/amd64
    image: ingestor
    profiles: ["ingestor"]
    build:
      context: ./ingestion_tools
      dockerfile: Dockerfile
    environment:
      - AWS_REGION=us-west-2
      - AWS_ACCESS_KEY_ID=test
      - AWS_SECRET_ACCESS_KEY=test
    volumes:
      - ./ingestion_tools:/usr/src/app/ingestion_tools
      - ./test_infra:/usr/src/app/test_infra # mount test data
    command: ["sleep", "infinity"]
