stack:
  services:
    apiv2:
      image:
        tag: sha-0b605f7
      # TODO how do we refer to the tag that's being deployed right now?
      initContainers:
        # Install cerbos policies where the cerbos sidecar can grab them.
        - name: install-cerbos-policies
          image:
            repository: 533267185808.dkr.ecr.us-west-2.amazonaws.com/core-platform/cryoet-data-portal-backend/apiv2
            tag: sha-0b605f7
          command: ["cp -r", "./cerbos/", "/var/policies/"]
          volumeMounts:
            - mountPath: /var/policies
              name: cerbos-policies
        # Run migrations
        - name: run-migrations
          image:
            repository: 533267185808.dkr.ecr.us-west-2.amazonaws.com/core-platform/cryoet-data-portal-backend/apiv2
            tag: sha-0b605f7
          command: ["alembic", "upgrade", "head"]
        # Generate random keys for decoding tokens. We don't use these keys so they don't need to be shared secrets.
        - name: gen-keypair
          image:
            repository: 533267185808.dkr.ecr.us-west-2.amazonaws.com/core-platform/cryoet-data-portal-backend/apiv2
            tag: sha-0b605f7
          command: ["./etc/gen_keys.sh", "/var/keys/"]
          volumeMounts:
            - mountPath: /var/keys
              name: keys
              readOnly: false
