name: APIv2 tests

on:
  push:
    branches:
      - main
    paths:
      - "apiv2/**"
  pull_request:
    paths:
      - "apiv2/**"

jobs:
  py-test:
    runs-on: xl-amd64-privileged
    name: "Run tests"
    steps:
      - uses: actions/checkout@v3
      - name: Install AWS CLI v2
        shell: bash
        run: |
          set -ue
          set -o pipefail
          URL="https://awscli.amazonaws.com/awscli-exe-linux-aarch64.zip"
          curl $URL -o /tmp/awscliv2.zip -v
          unzip -q /tmp/awscliv2.zip -d /tmp
          rm /tmp/awscliv2.zip
          sudo /tmp/aws/install --update
          rm -rf /tmp/aws/

      # Set up a local test env and run tests
      - name: Run tests
        run: |
          make apiv2-init
          make apiv2-test
