name: Update prod

on:
  release:
    types: [published]

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

jobs:
  prod_stack_upsert:
    runs-on: [ARM64, self-hosted, Linux]
    permissions:
      id-token: write
      issues: write
      pull-requests: write

    steps:
      - name: Create Stack in Argus Prod
        uses: chanzuckerberg/argus-artifacts/ci/packages/create-stack@v0.27.0
        with:
          appName: cryoet-apiv2
          envName: prod
