name: Build and push ingestor to remote

on:
  push:
    branches:
      - main
    paths:
      - "ingestion_tools/**"
      - ".github/workflows/push-ingestor-build.yaml"

# https://docs.github.com/en/actions/deployment/security-hardening-your-deployments/configuring-openid-connect-in-amazon-web-services
permissions:
  id-token: write
  contents: read

jobs:
  deploy-to-staging:
    name: deploy staging branch
    runs-on: [ARM64, self-hosted, Linux]
    environment: staging
    if: github.repository == 'chanzuckerberg/cryoet-data-portal-backend'
    steps:
      - name: Configure AWS Credentials
        uses: aws-actions/configure-aws-credentials@v4
        with:
          mask-aws-account-id: true
          aws-region: ${{ secrets.AWS_REGION }}
          role-to-assume: ${{ secrets.AWS_ROLE_TO_ASSUME }}
          role-duration-seconds: 1200
      - name: Checkout code
        uses: actions/checkout@v3
      - name: Build and push Docker image
        env:
          ECR_REPO: ${{ secrets.ECR_REPO }}
        run: make push-ingestor-build ecr_repo=$ECR_REPO tag=latest
